# pandas

import

In [1]:
import pandas as pd

others. see numpy and matplotlib basics in the repo

In [3]:
import numpy as np
import matplotlib.pyplot as plt

gentle intro, df stands for data frame

In [5]:
df = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

an official tuto choose this as second intro code. some observations :
- dictionary used as data frame
- keys as columns
- single value fills a column with it e.g. 'A':1.0 , 'F':'foo' ...
- numpy arrays are accepted as column value
- index starts at 0

dtypes attribute for DataFrames returns a Series with the data type of each column.

In [6]:
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

viewing data at the top

In [7]:
df.head()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

we can specify number of rows

In [8]:
df.head(2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo

viewing last data

In [9]:
df.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df.tail(2)

     A          B    C  D      E    F
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

viewing colums

In [11]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

index

In [12]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

values

In [13]:
df.values

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']], dtype=object)

quick statistic summary

In [14]:
df.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

fetching by column name

In [15]:
df.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

this better used

In [17]:
df['A']

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

by slice

In [18]:
df[1:3]

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

.loc

In [22]:
df.loc[1:3,['A','B']]

     A          B
1  1.0 2013-01-02
2  1.0 2013-01-02
3  1.0 2013-01-02

by index

In [26]:
df.iloc[0]

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                   test
F                    foo
Name: 0, dtype: object

In [27]:
df.iloc[1]

A                      1
B    2013-01-02 00:00:00
C                      1
D                      3
E                  train
F                    foo
Name: 1, dtype: object

In [29]:
df.iloc[[1,2,3],[0,2]]

     A    C
1  1.0  1.0
2  1.0  1.0
3  1.0  1.0

In [30]:
df.iloc[1:3,:]

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

## filtering

In [31]:
df[df.A > 0]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [54]:
data = {'persons':['a', 'b', 'c', 'd'],'age':[20, 30, 40, 25],'add':[1,2,1,3]}
df2 = pd.DataFrame(data, index=['r1','r2','r3','r4'])
df2

    add  age persons
r1    1   20       a
r2    2   30       b
r3    1   40       c
r4    3   25       d

In [55]:
df2[df2 > 0]

    add  age persons
r1    1   20       a
r2    2   30       b
r3    1   40       c
r4    3   25       d

filtering by partisanship

In [56]:
df2[df2['persons'].isin(['c','d'])]

    add  age persons
r3    1   40       c
r4    3   25       d

In [57]:
df2['age'].mean()

28.75

## column addition

In [61]:
df2['added']=df2['add']+df2['age']
df2

    add  age persons  added
r1    1   20       a     21
r2    2   30       b     32
r3    1   40       c     41
r4    3   25       d     28

## add column

In [63]:
df3 = pd.DataFrame([[0, 1], [1, 0]], columns = ['x','y'])
df2 = df2.append(df3)
df2 # heu

    add  added   age persons    x    y
r1  1.0   21.0  20.0       a  NaN  NaN
r2  2.0   32.0  30.0       b  NaN  NaN
r3  1.0   41.0  40.0       c  NaN  NaN
r4  3.0   28.0  25.0       d  NaN  NaN
0   NaN    NaN   NaN     NaN  0.0  1.0
1   NaN    NaN   NaN     NaN  1.0  0.0